PORT=3001
NVIDIA_API_KEY=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
NVIDIA_API_URL=https://integrate.api.nvidia.com/v1/chat/completions
FRONTEND_ORIGIN=http://localhost:5173
